@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/harry-potter');


body {
    font-family: 'DM Sans', sans-serif;
    background: rgb(63, 13, 62);
}

body::-webkit-scrollbar {
    display: none;
}
#barra {
    position: fixed;
    display: flex;
    width: 99%;
    height: 10%;
}


.metade {
    width: 50%;
    height: 100%;
}

#metade2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#metade1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 15%;
}

#usuariodiv {
    font-size: 3.5vw;
    height: 75%;
    margin-left: 10%;
    margin-right: 1%;
}


#pesquisadiv {
    margin-left: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisacampo {
    margin-left: 5%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 9px;
    background: rgb(219, 218, 218);
    box-sizing: border-box;
    font-weight: 800;
}

#pesquisaicon {
    font-size: 2.5em;
}

#chatdiv {
    font-size: 2vw;
    margin-left: 10%;
}

#wikidiv {
    font-size: 2vw;
}

#titulo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Harry Potter', sans-serif;
    color: white;
    
}

#junte {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70vh;
    /* background-image: linear-gradient(90deg, rgb(152, 3, 152), rgb(211, 109, 211)); */
    background: rgb(54, 7, 70);
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

#metadej1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

#metadej2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#juntos {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 3.5vw;
    text-shadow: 0px 10px 40px white;
}

#texto {
    width: 80%;
    text-wrap: wrap;
    font-size: 1.25vw;
    margin: 10%;
    margin-bottom: 30%;
    text-shadow: 0px 10px 20px white;
}

#con {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
    background-color: rgb(33, 10, 37);
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgb(64, 11, 107);
}

#card h1 {
    margin: 0;
    color: rgb(30, 224, 43);
    font-size: 1.5vw;
    font-weight: 900;
}

.campo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.campo input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(219, 218, 218);
    box-sizing: border-box;
}

.campo label {
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

#botao {
    width: 100%;
    border: none;
    padding: 16px 0px;
    margin-top: 5%;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background: rgb(52, 233, 122);
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px rgb(120, 33, 120);
}

ion-icon {
    color: white;
}

#canto {
    position: absolute;
    filter: invert(1);
    width: 30%;
    opacity: 0.5;
}
#canto2 {
    position: absolute;
    filter: invert(1);
    width: 30%;
    right: 0;
    transform: rotateY(180deg);
    opacity: 0.5;
}

#canto3 {
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 0;
    margin-left: -8%;
}

#canto4 {
    position: absolute;
    transform: rotateY(180deg);
    width: 15%;
    bottom: 0;
    right: 0;
    margin-bottom: -2%;
}

#conta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#conta a {
    color: rgb(255, 83, 83);
}

#card p {
    color: red;
    font-weight: 900;
}

#errodiv {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: 900;
    font-size: 1vw;
}

.pointer {
    cursor: pointer;
}