@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/harry-potter');



body {
    font-family: 'DM Sans', sans-serif;
    background: rgb(63, 13, 62);
    
    
}

#barra {
    position: fixed;
    display: flex;
    width: 99%;
    height: 10%;
}


.metade {
    width: 50%;
    height: 100%;
}

#metade2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#metade1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 15%;
}

#usuariodiv {
    font-size: 3.5vw;
    height: 75%;
    margin-left: 10%;
    margin-right: 1%;
}

#pesquisadiv {
    margin-left: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisacampo {
    margin-left: 5%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 9px;
    background: rgb(219, 218, 218);
    box-sizing: border-box;
    font-weight: 800;
}

#pesquisaicon {
    font-size: 2.5em;
}

#chatdiv {
    font-size: 2vw;
    margin-left: 10%;
}

#wikidiv {
    font-size: 2vw;
}

#titulo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Harry Potter', sans-serif;
    color: white;
    
}

ion-icon {
    color: white;
}

#posts {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: rgb(54, 7, 70);
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.pointer {
    cursor: pointer;
}

.imgback {
    position: absolute;
    z-index: 0;
    width: 20vw;
}
#canto1 {
    position: absolute;
    filter: invert(1);
    width: 30%;
    opacity: 0.5;
}
#canto2 {
    position: absolute;
    filter: invert(1);
    width: 30%;
    right: 0;
    transform: rotateY(180deg);
    opacity: 0.5;
}

#canto3 {
    position: absolute;
    width: 15%;
    bottom: 0;
    left: 0;
    
}
h2 {
    margin: 0;
    margin-left: 5%;
    color: white;
    text-shadow: 0px 5px 20px rgb(239, 37, 222);
    
}
#veja {
    color: white;
    text-shadow: 0px 5px 20px rgb(239, 37, 222);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#postsdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    padding: 5%;
}



.post {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}

.cima{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 10%;
}

.informacao {
    width: 100%;
    margin-top: 10%;
}


.io {
    font-size: 2vw;
}

.io2 {
    font-size: 0.75vw;
}


.post-titulo {
    font-size: 1.25em;
}

#casa {
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divcasa {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    
}

#divgri {
    color: red;
    text-shadow: 0px 5px 20px rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Harry Potter';
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95%;
}
#divcorvi {
    color: rgb(72, 0, 255);
    text-shadow: 0px 5px 20px rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Harry Potter';
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95%;
}
#divson {
    color: rgb(0, 255, 21);
    text-shadow: 0px 5px 20px rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Harry Potter';
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95%;
}
#divlufa {
    color: rgb(238, 255, 0);
    text-shadow: 0px 5px 20px rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Harry Potter';
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95%;
}
.imgini {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    opacity: 0.9;
    transition: all 1s;
    cursor: pointer;
}

.imgini:hover {
    transform: scale(1.10);
    opacity: 1;
    filter: saturate(2);
}

.caixa {
    font-family: 'DM Sans';
    visibility: hidden;
    width: auto;
    background-color: #555555df;
    font-weight: 600;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.777);
    text-align: center;
    padding: 5px 5px;
    
    
    position: relative;
    bottom: 90%;
    left: 60%;
    z-index: 1;
  
    
    opacity: 0;
    transition: opacity 1s ease-in;
    
}

#divgri:hover .caixa {
    transition-delay: 1.5s;
    visibility: visible;
    opacity: 1;
}

#divson:hover .caixa {
    transition-delay: 1.5s;
    visibility: visible;
    opacity: 1;
}

#divcorvi:hover .caixa {
    transition-delay: 1.5s;
    visibility: visible;
    opacity: 1;
}

#divlufa:hover .caixa {
    transition-delay: 1.5s;
    visibility: visible;
    opacity: 1;
}

#casa2 {
    width: 95%;
    height: 10%;
    display: flex;
    
}

#sonse {
    color: rgb(35, 195, 14);
    text-shadow: 0.1em 0.1em 0.5em greenyellow;
}

#corvi {
    color: rgb(34, 34, 221);
    text-shadow: 0.1em 0.1em 0.5em rgb(47, 89, 255);
}

#luf {
    color: rgb(231, 231, 32);
    text-shadow: 0.1em 0.1em 0.5em rgb(246, 233, 86);
}

#grif {
    color: rgb(220, 33, 33);
    text-shadow: 0.1em 0.1em 0.5em rgb(183, 24, 24);
}

#errodiv {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: 900;
    font-size: 1vw;
}
#sobra {
    display: flex;
    width: 100%;
    gap: 8%;
    height: 60%;
}
#imagemcasa {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imagemcasa img {
    width: 80%;
}

#imagemcasa h3 {
    color: white;
    letter-spacing: 1px;
    text-shadow: 0.1em 0.1em 0.2em rgb(221, 25, 25);
}

#mascote  {
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
    
    width: 30%;
    height: 100%;
}
#mascote div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#mascote img {
    width: 90%;
}

#mascote h3 {
    color: white;
    letter-spacing: 1px;
    text-shadow: 0.1em 0.1em 0.2em rgb(221, 25, 25);
};

#conhecimento {
    width: 30%;
    height: 100%;

    
    
}

#conhecimento h3 {
    color: white;
    letter-spacing: 1px;
    text-shadow: 0.1em 0.1em 0.2em rgb(221, 25, 25);
    word-wrap: break-word;
    
}


#wiki2 {
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.svg {
    width: 20%;
    filter: invert(1);
}

.titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1%;
    width: 100%;
    
}



.sobrou {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

#especial {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}

#mascoteimg2 {
    width: 75%;
    height: 75%;
}
#homediv {
    font-size: 2vw;
    margin-right: 10%;
}